[submodule "OldFormatToCsv"]
	path = OldFormatToCsv
	url = https://github.com/NCHUIR/OldFormatToCsv
[submodule "safSshDspace"]
	path = safSshDspace
	url = https://github.com/NCHUIR/safSshDspace
[submodule "csvToDspaceSaf"]
	path = csvToDspaceSaf
	url = https://github.com/NCHUIR/csvToDspaceSaf
